.App {
  text-align: center;
  color: gainsboro;
}

nav {
  display: flex;
  background-color: rgb(70, 86, 110);
  justify-content: space-around;
  align-items: center;
  min-height: 9vh;
  color: #fff;
  text-shadow: 5px 3px 3px black;
}

.Nav-links {
 display: flex;
 width: 30%;
 justify-content: space-around;
 align-content: center;
 list-style: none;
}

.gameText {
  margin: 3%;
  padding: 8px;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.gameText {
  height: 430px;
}